#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px 0;
  background-color: #555;
  /*background-color: rgba( 40, 160,90, 1 );*/
  border-top: 1px solid #222;
  left: 0;
  right: 0;
  color: #cacaca;
}

.key-value {
  background: #22A7F0;
  color: #fff;
  display: inline-block;
  padding: 0px;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
}

.key-value > .key, .key-value > .value{
  display: inline-block !important;
  vertical-align: middle;
  /*width: 50%;*/
  margin: 0;
  padding: 10px;
}

.key-value.fixed > .key{
  width: 100px;
}

/*.key-value.fixed > .value{
  width: 140px;
}*/

.key-value > .key{
  text-transform: capitalize;
  letter-spacing: 1px;
}
.key-value > .value{
  background: #29C5FF;
}

.ajax-loader{
  background: url( '../images/ajax-loader-32.gif' ) no-repeat 50%rgba( 255, 255, 255, .5 );
  width: calc( 100% - 30px );
  height: 50px;
  position: absolute;
  bottom: 0;
  display: none;
}

.relative {
  position: relative;
}
